@mixin media($for-tablet-up) {
    @media only screen and (min-width: $for-tablet-up) {
        @content;
    }
}

@include media(900px) {

    // TOP NAV
    nav {
        overflow: hidden;
        height: 100%;
        position: fixed;
        border-right: 1px solid black;

        .nav-background {
            background-image:url('../background-test.jpg');
            background-size: cover;
            height: 100%;
            width: 300px;
            filter: blur(3px);
            margin: -15px;
            margin-top: 0px;
        }

        .nav-content {
            position: fixed;
            overflow: visible;
            height: 100%;
            top: 50px;
            left: 24px;
            width: 240px;
            padding: 0px;
        }
    }

    .site-title {
        margin: 1em 0em 3em 0em;
    }

    .header-wrapper {
        position: fixed;
        background-color: white;
        margin-left: 310px;
        max-width: 720px;
        width: 100%;
    }

    .header-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0em;
        justify-content: left;

    }

    .nav-tags {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link {
        margin-bottom: 0.5em;
        margin-left: 0em;
        margin-right: 1.5em;
    }

    .description {
        text-align: left;
        padding: 1.55em 0 0.5em 0;
        border-bottom: none;
        margin-bottom: 1em;
        margin-top: 0em;
    }

    .article-content {
        margin-top: 1.4em;
    }

    .article-content-flex {
        flex-direction: row;
    }

    .article-summary {
        margin-left: 1em;
    }

    // CONTENT
    .paginator {
        padding-bottom: 2em;
    }

    .content-container {
        max-width: 720px;
        margin-left: 310px;
        padding: 1.5em 1.5em 0 0;
        height: 96%;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 1.9em;
            border-top: none;
            padding-top: 0em;
            margin-top: 1.4em;
        }
    }

    .post-title {
        border-top: none;
        padding-top: 0em;
        margin-top: 0.75em;
    }

    // FOOTER
    .page-footer {
        border-bottom: none;
    }

    .footer {
        position: relative;
        visibility: visible;
        margin-top: 1em;
        text-align: left;
    }

    .footer-mobile {
        visibility: hidden;
        height: 0em;
        padding: 0em;
        margin: 0em;
        overflow: hidden;
    }

    .copyrights-mobile {
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    .copyrights {
        visibility: visible;
        overflow: visible;
        position: relative;
        height: 4%;
        text-align: center;
        font-size: 0.8rem;

        a {
            font-size: 0.8rem;
        }
    }

    .social-icons {
        width: 100%;
    }
}