{{ define "main" }}

<h1 class="post-title">{{ .Title }}</h1>
    {{ if .Date }}
    <time>{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    <div class="about">
        <div>
            <p>
                {{ .Content }}
            </p>
        </div>
        <figure>
            <img src="{{ "about.jpeg" | relURL }}" />
            <figcaption>Autor zdjęcia: Zaya</figcaption>

        </figure>
    </div>
    <div class="page-footer">
        {{if .Params.tags}}
        <hr class="footer-divider">
        {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
        {{ end }}
      {{ end }}
    </div>

{{end}}