{{ define "main" }}

<h1 class="post-title">{{ .Title }}</h1>
    {{ if .Date }}
    <time>{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    <p class="reading-time">Czas lektury: {{ .ReadingTime }} min.</p>
    <div class="post-content">
        <figure>
            {{ with .Resources.GetMatch "promo.jpeg" }}
            <img src="{{ .RelPermalink }}">
            {{ end }}
            {{ if .Params.unsplashLink}}
            <figcaption>Autor zdjęcia: <a href="{{ .Params.unsplashLink}}">{{ .Params.unsplashAuthor}}</a></figcaption>
            {{ end }}
        </figure>
        <p>
        {{ .Content }}
        </p>
    </div>
    <div class="post-nav-container">
        <div class="previous-post">
            {{ with .PrevInSection }}
            <a class="color-link" href="{{ .Permalink }}">
                <svg width="13px" height="9px" viewBox="0 0 13 9" version="1.1" xmlns="https://www.w3.org/2000/svg"
                xmlns:xlink="https://www.w3.org/1999/xlink">
                <g class="color-arrow" fill="#63BDA2" fill-rule="nonzero">
                    <polygon id="Path"
                        points="1.75929935 4.50000282 5.3292523 7.62371165 4.6707477 8.37628835 0.240700645 4.49999718 4.67081049 0.623709205 5.32930951 1.37629079">
                    </polygon>
                    <polygon id="Path" points="13 4 13 5 1 5 1 4"></polygon>
                </g>
            </svg>
            {{ .Title | truncate 25 }}
            </a>
            {{ end }}
        </div>
        <div class="next-post">
            {{ with .NextInSection }}
            <a class="color-link" href="{{ .Permalink }}">
                {{ .Title | truncate 25 }}
                <svg width="13px" height="9px" viewBox="0 0 13 9" version="1.1" xmlns="https://www.w3.org/2000/svg"
                xmlns:xlink="https://www.w3.org/1999/xlink">
                <g class="color-arrow" fill="#63BDA2" fill-rule="nonzero">
                    <polygon
                        points="7.6707477 1.37628835 8.3292523 0.623711653 12.7592994 4.50000282 8.32918951 8.37629079 7.67069049 7.62370921 11.2407006 4.49999718">
                    </polygon>
                    <polygon id="Path" points="0 5 0 4 12 4 12 5"></polygon>
                </g>
            </svg>
            </a>
            {{ end }}
        </div>

    </div>
    {{ template "_internal/disqus.html" . }}
    <div id="remark42"></div>

    {{ if .Site.Params.enableKofi }}

        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
        <script type='text/javascript'>
            const kofiId = '{{ .Site.Params.Kofi }}';
            kofiwidget2.init('Support Me on Ko-fi', '#29abe0', kofiId);
            kofiwidget2.draw();
        </script>

    {{ end }}

    <div class="page-footer">
        {{if .Params.tags}}
        <hr class="footer-divider">
        {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
        {{ end }}
      {{ end }}
    </div>

{{end}}